
    @charset 'UTF-8';
    @import url("https://fonts.googleapis.com/css?family=Open Sans");
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    
    .footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        left: 0px;
        width: 100%;
        height: 40px;
        background: rgb(11, 11, 61);
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold
    }

    /* unvisited link */
    .footer a {
        color: aqua;
    }

    /* visited link */
    .footer a:visited {
        color: aqua;
    }

    /* mouse over link */
    .footer a:hover {
        color: white;
    }

    /* selected link */
    .footer a:active {
        color: white;
    }

    body {
        font-family:  'Open Sans';
        background-color: rgb(73, 95, 166);
        color: rgb(166, 144, 73);
    }

    h1 {
        font-weight: 200;
    }

    /* unvisited link */
    a:link {
    color: blue;
    }

    /* visited link */
    a:visited {
    color: navy;
    }

    /* mouse over link */
    a:hover {
    color: blueviolet;
    }

    /* selected link */
    a:active {
    color: blueviolet;
    }

    .topnav {
        background-color: rgb(12, 170, 209);
        overflow: hidden;
        text-align: center;
    }
  
    .topnav a {
        color: aquamarine;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 55px;
    }
  
    .topnav a:hover {
        background-color: #ddd;
    }
  
    .topnav a.active {
        background-color: #04AA6D;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(246, 174, 132);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        color: rgb(153, 102, 51);
    }
  
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(153, 102, 51);
        display: block;
        transition: 0.3s;
    }
  
    .sidenav a:hover {
        color: #f1f1f1;
    }
  
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    #menu {
        cursor: pointer;
    }

    #mail {
        background: -webkit-linear-gradient(cyan, rgb(10, 76, 197));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }